
.check-answers{

    position: relative;
    gap: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color: #293264;
  }
  
  .check{
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border:none;
    color:whitesmoke;
    background-color: #4D5B9E;
    cursor: pointer;
    margin-right: 5px;
  }

  .play{
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border:none;
    color:whitesmoke;
    background-color: #4D5B9E;
    cursor: pointer;
    margin-right: 5px;
  }
 