
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #293264;
    height: 100vh;
 
}


.content h1{
    font-weight: bold;
    font-size: 60px;
    margin: 0;
    word-spacing: 5;
}

.content p{
    word-spacing: 5;
    font-weight: 600;
    margin-top: 10px;
}

.content button{
    border: none;
     padding: 15px 50px 15px 50px;
     border-radius: 10px;
     color: whitesmoke;
     background-color: #4D5B9E;
     cursor: pointer;
     margin-top: 20px;
}